@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&family=Oswald:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

